#head-panel-content div#head-panel-copy {
    font-family: Myriad Pro;
    color: #ffffff;
    width: 980px;
    margin: auto;
}

div#head-panel-copy h1 {
    font-size: 38px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 69px;
    -moz-text-shadow: 0px 0px 10px #000000;
    -webkit-text-shadow: 0px 0px 10px #000000;
    text-shadow: 0px 0px 10px #000000;
    margin-bottom: 0px;
}

div#head-panel-copy h2 {
    font-size: 24px;
    -moz-text-shadow: 0px 0px 10px #000000;
    -webkit-text-shadow: 0px 0px 10px #000000;
    text-shadow: 0px 0px 10px #000000;
    color: #c3dcfd;
    width: 500px;
    margin: auto;
    margin-top: 0px;
}

#head-panel-swoop {
    width: 514px;
    height: 64px;
    margin: auto;
    background: transparent no-repeat url(../images/examples-images/head-panel-swoop.png) top left;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -257px;
    text-align: center;
    line-height: 64px;
    color: #17a0f1;
    font-size: 24px;
    font-family: Myriad Pro;
    font-weight: bold;
}

#contact-container-email {
    height: 59px;
    width: 780px;
    padding-left: 80px;
    margin-bottom: 10px;
    line-height: 59px;
    color: #5c5c5c;
    font-size: 17px;
    background: transparent no-repeat url(../images/contact-images/email-icon.png) top left;
}

#contact-container-fax {
    height: 59px;
    width: 780px;
    padding-left: 80px;
    margin-bottom: 10px;
    line-height: 59px;
    color: #5c5c5c;
    font-size: 17px;
    background: transparent no-repeat url(../images/contact-images/fax-icon.png) top left;
}

#contact-container-mail {
    height: 39px;
    width: 780px;
    padding-left: 80px;
    margin-bottom: 10px;
    padding-top: 20px;
    color: #5c5c5c;
    font-size: 17px;
    background: transparent no-repeat url(../images/contact-images/mail-icon.png) top left;
}

#contact-container-phone {
    height: 59px;
    width: 780px;
    padding-left: 80px;
    margin-bottom: 10px;
    line-height: 59px;
    color: #5c5c5c;
    font-size: 17px;
    background: transparent no-repeat url(../images/contact-images/phone-icon.png) top left;
}