#head-panel-content div#head-panel-copy {
    font-family: Myriad Pro;
    color: #ffffff;
    width: 980px;
    margin: auto;
}

div#head-panel-copy h1 {
    font-size: 38px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 69px;
    -moz-text-shadow: 0px 0px 10px #000000;
    -webkit-text-shadow: 0px 0px 10px #000000;
    text-shadow: 0px 0px 10px #000000;
    margin-bottom: 0px;
}

div#head-panel-copy h2 {
    font-size: 24px;
    -moz-text-shadow: 0px 0px 10px #000000;
    -webkit-text-shadow: 0px 0px 10px #000000;
    text-shadow: 0px 0px 10px #000000;
    color: #c3dcfd;
    width: 500px;
    margin: auto;
    margin-top: 0px;
}

#head-panel-swoop {
    width: 514px;
    height: 64px;
    margin: auto;
    background: transparent no-repeat url(../images/examples-images/head-panel-swoop.png) top left;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -257px;
    text-align: center;
    line-height: 64px;
    color: #17a0f1;
    font-size: 24px;
    font-family: Myriad Pro;
    font-weight: bold;
}

.example-container-outer {
    width: 961px;
    height: 520px;
    margin: auto;
    clear: both;
    margin: 60px auto;
}

.example-container-testimonial {
    width: 280px;
    height: auto;
    float: left;
    text-align: center;
    margin: 0px 15px;
}

.example-container-testimonial h2 {
    font-family: Georgia;
    font-size: 21px;
    color: #42b2f4;
    font-style: italic;
    margin-top: 23px;
    margin-bottom: 26px;
}

.example-container-testimonial p {
    font-family: Myriad Pro;
    font-size: 16px;
    color: #5c5c5c;
    text-align: left;
    margin-bottom: 24px;
}

.example-container-testimonial p.signature {
    color: #000000;
    font-family: Myriad Pro;
    font-size: 16px;
    font-style: italic;
}


.example-container-testimonial img {
    border: 4px solid #e7e7e7;
}

.example-container-preview {
    width: 621px;
    float: left;
    margin: 0px 15px;
}

.example-container-preview img {
    border: 4px solid #e7e7e7;
}

img.shadow {
    border: 0px;
    margin-top: 10px;
}

