#head-panel-content div#head-panel-copy {

    font-family: Myriad Pro;

    color: #ffffff;

    width: 980px;

    margin: auto;

}



div#head-panel-copy h1 {

    font-size: 38px;

    color: #ffffff;

    font-weight: bold;

    padding-top: 69px;

    -moz-text-shadow: 0px 0px 10px #000000;

    -webkit-text-shadow: 0px 0px 10px #000000;

    text-shadow: 0px 0px 10px #000000;

    margin-bottom: 0px;

}



div#head-panel-copy h2 {

    font-size: 24px;

    -moz-text-shadow: 0px 0px 10px #000000;

    -webkit-text-shadow: 0px 0px 10px #000000;

    text-shadow: 0px 0px 10px #000000;

    color: #c3dcfd;

    width: 500px;

    margin: auto;

    margin-top: 0px;

}



#head-panel-swoop {

    width: 514px;

    height: 64px;

    margin: auto;

    background: transparent no-repeat url(../images/examples-images/head-panel-swoop.png) top left;

    position: absolute;

    bottom: 0px;

    left: 50%;

    margin-left: -257px;

    text-align: center;

    line-height: 64px;

    color: #17a0f1;

    font-size: 24px;

    font-family: Myriad Pro;

    font-weight: bold;

}



.faq-column {

    float: left;

    width: 460px;

    padding-right: 40px;

}



.faq-column h2 {

    font-size: 22px;

    color: #434343;

    margin-top: 60px;

}



.faq-column p {

    color: #5c5c5c;

    font-size: 16px;

    margin-top: 16px;

    line-height: 22px;

}



.faq-column img {

    float: left;

    margin-right: 12px;

}



