#head-panel-content div#head-panel-copy {
    font-family: Myriad Pro;
    color: #ffffff;
    width: 980px;
    margin: auto;
}

div#head-panel-copy h1 {
    font-size: 38px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 69px;
    -moz-text-shadow: 0px 0px 10px #000000;
    -webkit-text-shadow: 0px 0px 10px #000000;
    text-shadow: 0px 0px 10px #000000;
    margin-bottom: 0px;
}

div#head-panel-copy h2 {
    font-size: 24px;
    -moz-text-shadow: 0px 0px 20px #000000;
    -webkit-text-shadow: 0px 0px 20px #000000;
    text-shadow: 0px 0px 20px #000000;
    color: #c3dcfd;
    width: 500px;
    margin: auto;
    margin-top: 0px;
}

#head-panel-swoop {
    width: 514px;
    height: 64px;
    margin: auto;
    background: transparent no-repeat url(../images/examples-images/head-panel-swoop.png) top left;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -257px;
    text-align: center;
    line-height: 64px;
    color: #17a0f1;
    font-size: 24px;
}

#portfolio {
    text-align: center;
    height: 530px;
}

.feature-container-outer {
    width: 980px;
    height: 300px;
    margin: 30px auto;
    clear: both;
}

.feature-container-outer img {
    border: 4px solid #e7e7e7;
}

.feature-container-outer h2 {
    color: #434343;
    font-size: 25px;
    text-align: left;
    width: 435px;
    margin-bottom: 8px;
}


.feature-container-outer p {
    font-family: Myriad Pro;
    font-size: 16px;
    line-height: 24px;
    color: #5c5c5c;
    text-align: left;
    width: 435px;
}


.feature-container-left {
    float: left;
    width: 490px;
    height: 244px;
    text-align: left;
}

.feature-container-right {
    float: left;
    width: 490px;
    height: 244px;
    text-align: left;
}

.index-testimonial-container {
    padding: 12px 0px;
    width: 900px;
    height: 142px;
    margin: auto;
    clear: both;
}

.index-testimonial-container img {
    border: 6px solid #e7e7e7;
    margin-right: 20px;
    float: left;
}

.index-testimonial-container h2 {
    width: 700px;
    font-family: Georgia;
    font-size: 35px;
    font-style: italic;
    color: #42b2f4;
    /*display: inline-block;*/
    float: left;
    margin-top: 15px;
    text-align: left;
}

.index-testimonial-container h2.dark {
    color: #117fbf;
}

.index-testimonial-container h3 {
    color: #8a8a8a;
    font-family: Myriad Pro;
    font-size: 16px;
    font-weight: normal;
    width: 700px;
    line-height: 20px;
    float: left;
    margin-top: 5px;
}

#feature-list-container {
  width: 980px;
  margin: auto;
  font-family: Myriad Pro;
  font-weight: bold;
  color: #434343;
}

#feature-list-container h2 {
  font-size: 34px;
  text-align: center;
  font-weight: bold;
  margin: 46px 0px;
  margin-bottom: 16px;
}

#feature-list-container ul {
  width: 450px;
  float: left;
  margin-left: 40px;
  margin-bottom: 46px;
}

#feature-list-container li {
    width: 430px;
    margin-bottom: 20px;
    list-style-image: url("../images/features-images/ul-checkmark.png");
    list-style-position: outside;
    font-weight: normal;
}

