#features-container-outer {

    width: 852px;

    height: auto;

    margin: auto;

    position: relative;

    background: transparent repeat-y url(../images/get-started-images/get-started-container-bg.jpg) top left;

    padding-bottom: 0px;

}



#features-container-outer-header {

    width: 852px;

    height: 58px;

    margin: auto;

    background: transparent no-repeat url(../images/get-started-images/get-started-container-header.jpg) top left;

    margin-top: 40px;

}



#features-container-outer-footer {

    width: 852px;

    height: 10px;

    margin: auto;

    background: transparent no-repeat url(../images/get-started-images/get-started-container-footer.jpg) top left;

}





#features-container-outer h3 {

    font-size: 21px;

    padding: 0px 46px;

    color: #000000;

    clear: both;

    margin-bottom: 20px;

}





#features-container-head {

    height: 58px;

    color: #ffffff;

    line-height: 58px;

    font-size: 30px;

    padding: 0px 46px;

}



#amazing-websites-examples {

    position: absolute;

    top: -30px;

    right: -12px;

}





#get-started-list-container {

    width: 852px;

}



#get-started-list-container ul {

  width: 244px;

  float: left;

  margin-left: 22px;

  margin-bottom: 22px;

  margin-top: 22px;

  color: #6b6b6b;

}



#get-started-list-container li {

    width: 244px;

    height: 33px;

    margin-bottom: 15px;

    background: transparent no-repeat url("../images/features-images/ul-checkmark.png") top left;

    /*list-style-position: inside;*/

    padding-left: 23px;

    font-weight: normal;

    line-height: 38px;

    font-size: 16px;

}



#limited-time-offer-head {

    width: 813px;

    height: 25px;

    margin: auto;

    background: transparent no-repeat url(../images/get-started-images/features-container-header.png) top left;

    margin-top: 28px;

}



#limited-time-offer-footer {

    width: 813px;

    height: 28px;

    margin: auto;

    background: transparent no-repeat url(../images/get-started-images/features-container-foot.png) top left;

}





#limited-time-offer-container {

    width: 813px;

    height: auto;

    margin: auto;

    background: transparent repeat-y url(../images/get-started-images/features-container-bg.png) top left;

    /*padding-top: 28px;*/



}



#limited-time-offer-container h3 {

    font-size: 22px;

    font-weight: bold;

    padding: 0px;

    width: 673px;

    margin-bottom: 10px;

}



#limited-time-offer-container p {

    color: #5c5c5c;

    font-size: 16px;

    width: 653px;

    float: left;

}



#limited-time-offer-container-foot {

    margin-top: 20px;

    height: 190px;

    padding-bottom: 0px;

    position: relative;

}









#bonus-one {

    width: 813px;

    height: 115px;

    padding-top: 0px;

    padding-left: 140px;

    background: transparent no-repeat url(../images/get-started-images/email-marketing-icon.png) 40px center;

    margin-bottom: 16px;

}



#bonus-two {

    width: 813px;

    height: 115px;

    padding-top: 0px;

    padding-left: 140px;

    background: transparent no-repeat url(../images/get-started-images/seo-dominator-icon.png) 40px center;

    margin-bottom: 16px;

}



#bonus-three {

    width: 813px;

    height: 105px;

    padding-top: 0px;

    padding-left: 140px;

    background: transparent no-repeat url(../images/get-started-images/marketing-consultation-icon.png) 40px center;

    margin-bottom: 16px;

}



#bonus-four {

    width: 813px;

    height: 105px;

    padding-top: 0px;

    padding-left: 140px;

    background: transparent no-repeat url(../images/get-started-images/marketing-material-icon.png) 40px center;

    margin-bottom: 16px;

}



#bonus-five {

    width: 813px;

    height: 140px;

    padding-top: 0px;

    padding-left: 140px;

    background: transparent no-repeat url(../images/get-started-images/member-solutions-icon.png) 40px 20px;

    padding-bottom: 0px;

}



#get-started-now-container {

    float: right;

    width: 230px;

    position: absolute;

    top: 20px;

    right: 0px;

}



#get-started-now-container h3 {

    color: #076de7;

    font-size: 28px;

    text-align: center;

    width: 230px;

    padding: 0px;

}



.index-testimonial-container {

    padding: 12px 0px;

    width: 900px;

    height: 142px;

    margin: auto;

    clear: both;

}



.index-testimonial-container img {

    border: 6px solid #e7e7e7;

    margin-right: 20px;

    float: left;

}



.index-testimonial-container h2 {

    width: 700px;

    font-family: Georgia;

    font-size: 35px;

    font-style: italic;

    color: #42b2f4;

    /*display: inline-block;*/

    float: left;

    margin-top: 15px;

    text-align: left;

    margin-bottom: 0px;

}



.index-testimonial-container h2.dark {

    color: #117fbf;

}



.index-testimonial-container h3 {

    color: #8a8a8a;

    font-family: Myriad Pro;

    font-size: 16px;

    font-weight: normal;

    width: 700px;

    line-height: 20px;

    float: left;

    margin-top: 5px;

}



#disclaimer {

    color: #6f6f6f;

    font-size: 14px;

    text-align: right;

    width: 852px;

    margin: auto;

    margin-top: 12px;

}



#disclaimer p {

    font-size: 14px;

    text-align: right;

    width: 852px;

}



