

#head-panel-content div#head-panel-copy {
    font-family: Myriad Pro;
    color: #ffffff;
    width: 430px;
}

div#head-panel-copy h2 {
    font-size: 38px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 69px;
    -moz-text-shadow: 0px 0px 10px #000000;
    -webkit-text-shadow: 0px 0px 10px #000000;
    text-shadow: 0px 0px 10px #000000;
    text-align: left;
}

div#head-panel-copy p {
    font-size: 15px;
    line-height: 24px;
    -moz-text-shadow: 0px 0px 10px #000000;
    -webkit-text-shadow: 0px 0px 10px #000000;
    text-shadow: 0px 0px 10px #000000;
    text-align: left;
}


#head-panel-swoop {
    width: 478px;
    height: 64px;
    background: transparent no-repeat url(../images/index-images/head-panel-swoop.png) top left;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#head-tour-link {
    width: 400px;
    height: 64px;
    line-height: 97px;
    text-align: right;
    font-size: 20px;
    font-family: Myriad Pro;
}

#head-tour-link a {
    color: #17a0f1;
    text-decoration: underline;
}

#callout-panel img {
    border: 4px solid #e7e7e7;
}

#callout-panel .callout-widget {
    width: 299px;
    height: 420px;
    margin: 0px 15px;
    display: inline-block;
    text-align: center;
    color: #434343;

}

#callout-panel img.learn-more {
    border: 0px;
    margin-top: 20px;
}


#callout-panel .callout-widget h2 {
    width: inherit;
    font-family: Myriad Pro;
    font-size: 24px;
}

.callout-widget p {
    font-family: Myriad Pro;
    font-size: 14px;
    line-height: 22px;
    color: #5c5c5c;
}

#services-panel {
    text-align: center;
    margin-top: 24px;
}

.index-testimonial-container {
    padding: 12px 0px;
    width: 900px;
    height: 142px;
    margin: auto;
    clear: both;
}

.index-testimonial-container img {
    border: 6px solid #e7e7e7;
    margin-right: 20px;
    float: left;
}

.index-testimonial-container h2 {
    width: 700px;
    font-family: Georgia;
    font-size: 35px;
    font-style: italic;
    color: #42b2f4;
    /*display: inline-block;*/
    float: left;
    margin-top: 15px;
    text-align: left;
}

.index-testimonial-container h2.dark {
    color: #117fbf;
}

.index-testimonial-container h3 {
    color: #8a8a8a;
    font-family: Myriad Pro;
    font-size: 16px;
    font-weight: normal;
    width: 700px;
    line-height: 20px;
    float: left;
    margin-top: 5px;
}

#social-networks-outer {
    height: 130px;
    width: 333px;
    position: absolute;
    right: 5px;
    top: 47px;
}

.social-network-container {
    height: 130px;
    width: 111px;
    float: left;
    background: transparent no-repeat url(../images/index-images/social-network-bg.png) top left;
    text-align: center;
}

.social-network-container img {
    margin-top: 20px;
}

