html {
    background: #FFFFFF repeat-x url(../images/pages-images/header-bg.jpg) top left;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

header {
    width: 100%;
    height: 402px;
}

.clear {
    clear: both;
}

a {
	color:#17a0f1;
	text-decoration:underline;
}


a:hover {
	color:#085887;
	text-decoration:underline;
}

h1 {
    font-family: Myriad Pro;
    font-size: 38px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 16px;
}

h2 {
    font-family: Myriad Pro;
    font-size: 24px;
    text-align: center;
    color: #434343;
}

#mast-head {
    width: 100%;
    height: 88px;
}

#mast-head-content {
    width: 980px;
    height: 88px;
    margin: auto;
    line-height: 88px;
}

#mast-head-navigation {
    width: 735px;
    text-align: right;
    float: right;
    color: #fff;
    height: 88px;
    line-height: 88px;
}

#mast-head-navigation a {
    font-family: Myriad Pro;
    font-size: 14px;
    color: #aeaeae;
    margin: 0px 10px;
    text-decoration: none;
}


#mast-head-navigation a.current {
    color: #ffffff;
}

#head-panel {
    width: 100%;
    height: 314px;
    background: transparent no-repeat url(../images/pages-images/head-panel-bg.jpg) top center;
    position: relative;
}

#head-panel-left-edge {
    position: absolute;
    left: 0px;
    top: -1px;
    background: transparent no-repeat url(../images/pages-images/head-panel-left-edge.jpg) top left;
    width: 209px;
    height: 315px;
    z-index: 1;
}

#head-panel-content {
    /* Container for content in the head-panel */
    width: 980px;
    height: 314px;
    margin: auto;
    position: relative;
    z-index: 2
}

article {
    width: 1000px;
    margin: auto;
    padding: 16px 0px;
    position: relative;
}

article hr {
    border: 0px;
    border-top: 1px solid #d7d7df;
    margin-bottom: 16px;
    clear: both;
}

#bottom-container {
    width: 757px;
    height: 130px;
    margin: auto;
    margin-top: 46px;
    background: transparent no-repeat url(../images/pages-images/bottom-container.png) top left;
    margin-bottom: 43px;
    position: relative;
}

footer {
    width: 100%;
    height: 225px;
    background: #FFFFFF repeat-x url(../images/pages-images/footer-bg.jpg) top left;
}

#footer-container {
    width: 1000px;
    height: auto;
    margin: auto;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding-top: 45px;
}

