#widget-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
    background: url('../images/pop-over-images/popover_bg.png');
    display: none;
}

.blue {
    color: #0090ff;
    font-size: 26px;
}

.in {
    cursor: pointer;
}


.box {
    position: absolute;
    top: 125px;
    left: 50%;
    margin-left: -459px;

    /*position: absolute;
    top:80px;
    left:235px;*/
    height: 1224px;
    width: 919px;
    /*margin: auto;*/

    z-index: 100;
    display: none;
}

#form {
    position: relative;
    background: url('../images/pop-over-images/container-bg.png') top left;
    width: 759px;
    height: 1064px;
    margin: 0 auto;
    padding: 80px;
    margin-right: 20px;
}

#top-website-offer {
    height: 73px;
    width: 657px;
    margin-bottom: 20px;
    background: transparent no-repeat url(../images/pop-over-images/top-website-cont.png) top left;
    float: right;
    padding: 20px 30px;
}

    #top-website-offer h2 {
        width: auto;
        font-size: 22px;
        margin-bottom: 5px;
        color: #2d2d2d;
    }

    #top-website-offer p {
        width: auto;
        font-size: 16px;
        color: #4c4c4c;
    }


hr.offer-seperator {
    clear: both;
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
}

#upsell-header-container {
    width: 700px;
    float: right;
    /*margin-bottom: 20px;*/
    float: right;
    text-align: left;
}

h2#upsell-header {
    font-size: 26px;
    margin-bottom: 0px;
    color: #000000;
}

p#upsell-header-description {
    font-size: 16px;
    color: #5c5c5c;
}


#upsell-container {
    height: 627px;
    width: 657px;
    background: transparent no-repeat url(../images/pop-over-images/upsell-container.png) top left;
    float: right;
    padding: 20px 30px;
    text-align: left;
    position: relative;
}

#upsell-container h2 {
    color: #2d2d2d;
    font-size: 22px;
    width: 435px;
    float: left;
}

#upsell-container p {
    color: #4c4c4c;
    font-size: 16px;
    width: 435px;
    float: left;
    margin-bottom: 0px;
    line-height: 22px;
}


#website-checkbox {
    position: absolute;
    top: 100px;
    left: 85px;
    background: transparent no-repeat url(../images/pop-over-images/website-checkbox.png) top left;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

#upsell-checkbox {
    position: absolute;
    top: 322px;
    left: 85px;
    background: transparent no-repeat url(../images/pop-over-images/website-checkbox.png) top left;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

#upsell-checkbox-last {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent no-repeat url(../images/pop-over-images/website-checkbox.png) top left;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

#last-chance-upsell {
    width: 657px;
    height: 22px;
    position: relative;
    line-height: 22px;
    float: right;
    margin-top: 18px;
    margin-bottom: 22px;
}

#last-chance-upsell h2{
    float: left;
    font-size: 20px;
    padding-left: 32px;
    color: #1d1d1d;
    font-weight: bold;
}


#highlight-top {
    background: transparent no-repeat url(../images/pop-over-images/top-highlight-bg.png) -25px top ;
    width: 518px;
    height: 92px;
    margin-left: -15px;
    float: left;
}

#highlight-bottom {
    clear: both;
    background: transparent no-repeat url(../images/pop-over-images/bot-highlight-bg.png) left top ;
    width: 161px;
    height: 63px;
    margin-left: -15px;
    float: left;
}

#highlight-top h2 {
    font-size: 20px;
    color: #2d2d2d;
    width: 445px;
    margin: 25px 0px;
    margin-left: 15px;
}

#highlight-bottom h2 {
    font-size: 20px;
    color: #2d2d2d;
    width: 445px;
    margin: 15px 0px;
    margin-left: 15px;
}

img.checkmark {
    position: absolute;
    bottom: -3px;
    left: 3px;
}

img#upsell-drawto {
    position: absolute;
    top: 353px;
    left: 92px;
    height: 43px;
    width: 33px;
}

img#product-image {
    position: absolute;
    right: -15px;
    top: 210px;
}


#upsell-container ul {
    float: left;
    height: 100px;
    margin-bottom: 0px;
    margin-top: 5px;
}

#upsell-container li {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 16px;
    color: #4c4c4c;
    line-height: 22px;
}

#includes-container {
    width: 657px;
    float: right;
    margin-top: 6px;
}


.bullet-check {
    height: 34px;
    background: transparent no-repeat url(../images/pop-over-images/bullet-check.png) top left;
    line-height: 30px;
    font-size: 16px;
    padding-left: 26px;
}

#upsell-pricing {
    position: absolute;
    width: 160px;
    top: 65px;
    right: 50px;

}

#upsell-pricing h2 {
    width: auto;
    color: #076de7;
    font-size: 33px;
    text-align: center;
    margin-bottom: 0px;
}

#upsell-pricing p {
    width: auto;
    font-size: 14px;
    color: #6f6f6f;
}

#form-bottom {
    margin-top: 35px;
    height: 61px;
    line-height: 61px;
    color: #000000;
}
